.shorten-container{
    width: 60% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
   padding-top: 70px;
    height: auto;
}

.form-shorten-controller{
    width: 100% !important;
    height: 2.8em;
    border: 2px solid #1e3450 !important;
    border-radius: 5px;
}

.shortUrl-btn{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}